:root {
    --blue: #123456;
    --grey: #b9b9b9;
    --blue-grey: #adc2d7;
    --white-grey: #dcddec;
    --blue-black: #061524;
    --dark-red: #a50a0a;
}

html {
    background-color: var(--blue-grey);
    position: absolute;
}

header {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--blue-black);
    position: relative;
}

h1 {
    padding: 2%;
    text-align: center;
    color: var(--grey);
}

a {
    color: var(--blue-grey);
}

a:visited {
    color: var(--grey);
}

footer {
    background-color: var(--blue-black);
    color: var(--grey);
    text-align: center;
    margin-top: 80px;
    padding: 40px;
}

#checkerboard {
    background-color: var(--blue);
    height: 100px;
    margin-top: -22px;
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
}

.grey {
    background-color: var(--grey);
}

.blue {
    background-color: var(--blue);
}

#space {
    background-color: var(--blue);
    display: grid;
    margin-top: 80px;
    margin-bottom: -81px;
    width: 1610px;
    height: 500px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    position: relative;
}

/*letter s*/
.as1 {
    background-color: var(--grey);
    grid-column: 2/5;
    grid-row: 6;
}
.as2 {
    background-color: var(--grey);
    grid-column: 4;
    grid-row: 7;
}
.as3 {
    background-color: var(--grey);
    grid-column: 2/5;
    grid-row: 8;
}
.as4 {
    background-color: var(--grey);
    grid-column: 5/7;
    grid-row: 2;
}
.as5 {
    background-color: var(--grey);
    grid-column: 5;
    grid-row: 3;
}
.as6 {
    background-color: var(--grey);
    grid-column: 5/7;
    grid-row: 4;
}
.as1:hover, .as2:hover, .as3:hover, .as4:hover, .as5:hover, .as6:hover {
    background-color: var(--dark-red);
}
.letter-s-alt:hover {
    background-color: var(--blue-black);
}
/*letter p*/
.ap1 {
    background-color: var(--grey);
    grid-column: 4;
    grid-row: 3;
}
.ap2 {
    background-color: var(--grey);
    grid-column: 2;
    grid-row: 5/9;
}
.ap3 {
    background-color: var(--grey);
    grid-column: 3/7;
    grid-row: 5;
}
.ap1:hover, .ap2:hover, .ap3:hover {
    background-color: var(--dark-red);
}
.letter-p-alt:hover {
    background-color: var(--blue-black);
}
/*letter a*/
.aa1 {
    background-color: var(--grey);
    grid-column: 4;
    grid-row: 2;
}
.aa2 {
    background-color: var(--grey);
    grid-column: 3/6;
    grid-row: 5;
}
.aa3 {
    background-color: var(--grey);
    grid-column: 2/7;
    grid-row: 7;
}
.aa1:hover, .aa2:hover, .aa3:hover {
    background-color: var(--dark-red);
}
.letter-a-alt:hover {
    background-color: var(--blue-black);
}
/*letter c*/
.ac1 {
    background-color: var(--grey);
    grid-column: 4/7;
    grid-row: 2;
}
.ac2 {
    background-color: var(--grey);
    grid-column: 3/5;
    grid-row: 3;
}
.ac3 {
    background-color: var(--grey);
    grid-column: 2/4;
    grid-row: 4;
}
.ac4 {
    background-color: var(--grey);
    grid-column: 2;
    grid-row: 5/7;
}
.ac5 {
    background-color: var(--grey);
    grid-column: 3;
    grid-row: 6/8;
}
.ac6 {
    background-color: var(--grey);
    grid-column: 4;
    grid-row: 7/9;
}
.ac7 {
    background-color: var(--grey);
    grid-column: 5/7;
    grid-row: 8;
}
.ac8 {
    background-color: var(--grey);
    grid-column: 6;
    grid-row: 3/8;
}
.ac1:hover, .ac2:hover, .ac3:hover, .ac4:hover, .ac5:hover, .ac6:hover, .ac7:hover, .ac8:hover {
    background-color: var(--dark-red);
}
.letter-c-alt:hover {
    background-color: var(--blue-black);
}
/*letter e*/
.ae1 {
    background-color: var(--grey);
    grid-column: 2/7;
    grid-row: 3;
}
.ae2 {
    background-color: var(--grey);
    grid-column: 6;
    grid-row: 4/7;
}
.ae3 {
    background-color: var(--grey);
    grid-column: 2/7;
    grid-row: 7;
}
.ae1:hover, .ae2:hover, .ae3:hover {
    background-color: var(--dark-red);
}
.letter-e-alt:hover {
    background-color: var(--blue-black);
}
/*:visited tag - https://www.w3schools.com/cssref/sel_visited.asp*/
/*hover tag - https://www.w3schools.com/cssref/sel_hover.asp*/